<ion-view title="Edit Menus" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="editMenus-form3" class="list">
      <label class="item item-select" id="editMenus-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <ion-list id="editMenus-list2">
      <ion-item class="item-divider" id="editMenus-list-item-divider1"> Row #</ion-item>
      <ion-item class="item-avatar" id="editMenus-list-item7">
        <img src="{{Icon}}">
        <h2>Item 1</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>